:global {
  html, body, #root {
    height: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: 0 auto;

  overflow: auto;
  padding: 2rem 1rem;
}
